DJANGO_SECRET_KEY=django-insecure-docker-demo-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,web

POSTGRES_DB=wms_autoparts
POSTGRES_USER=wms
POSTGRES_PASSWORD=wms_password
POSTGRES_PORT_PUBLIC=5433

DJANGO_PORT_PUBLIC=8000
DJANGO_CONN_MAX_AGE=600

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345

SITE_URL=http://127.0.0.1:8000
EFP_ALLOW_THREAD_FALLBACK=1
