# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
POSTGRES_DB=wms_autoparts
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Альтернатива: единая строка подключения (имеет приоритет над POSTGRES_*)
# DATABASE_URL=postgresql://postgres:1@localhost:5432/wms_autoparts
